.flex {
    display: flex;
}
.rm {
    margin-right: 100px;
}

.teto-item {
    margin: 16px 0;
}

.bm {
    margin-bottom: 50px;
}

/* home_shop.php //////////////////////////////////////////////////////////////////////////////////////// */
.item {
    display: flex;
    margin: 10px 0;
}

.item img {
    height: 50px;
}
.item label {
    width: 100px;
}
