


/* home_shop.php //////////////////////////////////////////////////////////////////////////////////////// */
.item {
    display: flex;
}

.item img {
    height: 50px;
}
.item label {
    width: 100px;
}
